body {
    background-color: #0A1B21;
    color: white;
    font-family: 'Noto Sans';
}

.leaderboard {
    background-color: #17252A;
    text-align: center;
    margin: 10% auto auto;
    max-width: 30%;
    height: 160%;
    padding-top: 5px;
}

.container {
    height: 10%;
    text-align: center;
    padding-top: 300px;
}
