<!DOCTYPE html>
<html lang="en">
<!-- <html> -->
    <link rel="stylesheet" th:href="@{/css/leaderboard.css}"/>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Leaderboard</title>
</head>
<body>
    <div class="container">
        <h2>App name</h2>
        <h2 class="profile">profile</h2>
        <div class ="middleTop">
            <h2 class="grey">Lessons</h2>
            <h2>Leaderboard</h2>
        </div>
        <div class="leaderboard">
            <h2 class="learn">Top Learners</h2>
            <hr class="line"/>
            <div class="users-numbers">
            <!-- put numbers and users here. flex by row -->
                <div class="numbers">
                <!-- put numbers here flex by column -->
                    <h3 class="number">1</h3>
                    <h3 class="number">2</h3>
                    <h3 class="number">3</h3>
                    <h3 class="number">4</h3>
                    <h3 class="number">5</h3>
                    <h3 class="number">6</h3>
                    <h3 class="number">7</h3>
                </div>
                <div class="users">
                <!-- put users here flex by column -->
                    <h3>Username: x points</h3>
                    <h3>Username: x points</h3>
                    <h3>Username: x points</h3>
                    <h3>Username: x points</h3>
                    <h3>Username: x points</h3>
                    <h3>Username: x points</h3>
                    <h3>You: x points</h3>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>